<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymleaf.org"
  th:replace="adminPanel/common/fragments::Layout(~{::section})"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="mt-24">
      <main class="flex-1">
        <div class="container mx-auto py-8 px-4 ">

          <h2 class="text-3xl font-bold mb-4">Dashboard</h2>
          <div
            wire:poll.5s=""
            class="fi-wi-stats-overview-stats-ctn grid gap-6 md:grid-cols-3"
          >
            <div
              class="fi-wi-stats-overview-stat relative rounded-xl bg-white p-6 shadow-sm border dark:bg-gray-900 dark:ring-white/10"
            >
              <div class="grid gap-y-2">
                <div class="flex items-center gap-x-2">
                  <span class="text-sm font-medium text-gray-500 dark:text-gray-400" >
                    Total Deposite
                  </span>
                </div>
                <div
                  class="text-3xl font-semibold tracking-tight text-gray-950 dark:text-white"
                >  0</div>
              </div>
            </div>
            <div
              class="fi-wi-stats-overview-stat relative rounded-xl bg-white p-6 shadow-sm border dark:bg-gray-900 dark:ring-white/10"
            >
              <div class="grid gap-y-2">
                <div class="flex items-center gap-x-2">
                  <span
                    class="text-sm font-medium text-gray-500 dark:text-gray-400"
                  >
                    Total Expense
                  </span>
                </div>

                <div
                  class="text-3xl font-semibold tracking-tight text-gray-950 dark:text-white"
                >
                  100
                </div>

                <!--[if BLOCK]> <![endif]-->
                <!--[if ENDBLOCK]> <![endif]-->
              </div>
            </div>
            <div
              class="fi-wi-stats-overview-stat relative rounded-xl bg-white p-6 shadow-sm border dark:bg-gray-900 dark:ring-white/10"
            >
              <div class="grid gap-y-2">
                <div class="flex items-center gap-x-2">
                  <span
                    class="text-sm font-medium text-gray-500 dark:text-gray-400"
                  >
                   Members
                  </span>
                </div>
                <div class="text-3xl font-semibold tracking-tight text-gray-950 dark:text-white"
                >1</div>
              </div>
            </div>

            <div
              class="fi-wi-stats-overview-stat relative rounded-xl bg-white p-6 shadow-sm border dark:bg-gray-900 dark:ring-white/10"
            >
              <div class="grid gap-y-2">
                <div class="flex items-center gap-x-2">
                  <span
                    class="text-sm font-medium text-gray-500 dark:text-gray-400"
                  >
                  Grant Applications
                  </span>
                </div>

                <div
                  class="text-3xl font-semibold tracking-tight text-gray-950 dark:text-white"
                >
                  0
                </div>

                <!--[if BLOCK]> <![endif]-->
                <!--[if ENDBLOCK]> <![endif]-->
              </div>
            </div>

            <div
              class="fi-wi-stats-overview-stat relative rounded-xl bg-white p-6 shadow-sm border dark:bg-gray-900 dark:ring-white/10"
            >
              <div class="grid gap-y-2">
                <div class="flex items-center gap-x-2">
                  <span
                    class="text-sm font-medium text-gray-500 dark:text-gray-400"
                  >
                    Grant Accepted
                  </span>
                </div>

                <div
                  class="text-3xl font-semibold tracking-tight text-gray-950 dark:text-white"
                >
                  64
                </div>
              </div>
            </div>

            <div
              class="fi-wi-stats-overview-stat relative rounded-xl bg-white p-6 shadow-sm border dark:bg-gray-900 dark:ring-white/10"
            >
              <div class="grid gap-y-2">
                <div class="flex items-center gap-x-2">
                  <span
                    class="text-sm font-medium text-gray-500 dark:text-gray-400"
                  >
                    Grant Denied
                  </span>
                </div>

                <div
                  class="text-3xl font-semibold tracking-tight text-gray-950 dark:text-white"
                >
                  494
                </div>
              </div>

              <!--[if BLOCK]> <![endif]-->
              <!--[if ENDBLOCK]> <![endif]-->
            </div>

            <div
              class="fi-wi-stats-overview-stat relative rounded-xl bg-white p-6 shadow-sm border dark:bg-gray-900 dark:ring-white/10"
            >
              <div class="grid gap-y-2">
                <div class="flex items-center gap-x-2">
                  <span
                    class="text-sm font-medium text-gray-500 dark:text-gray-400"
                  >
                    Districts
                  </span>
                </div>

                <div
                  class="text-3xl font-semibold tracking-tight text-gray-950 dark:text-white"
                >
                  5
                </div>

                <!--[if BLOCK]> <![endif]-->
                <!--[if ENDBLOCK]> <![endif]-->
              </div>
            </div>

            <div
              class="fi-wi-stats-overview-stat relative rounded-xl bg-white p-6 shadow-sm border dark:bg-gray-900 dark:ring-white/10"
            >
              <div class="grid gap-y-2">
                <div class="flex items-center gap-x-2">
                  <span
                    class="text-sm font-medium text-gray-500 dark:text-gray-400"
                  >
                    Upazilas
                  </span>
                </div>

                <div
                  class="text-3xl font-semibold tracking-tight text-gray-950 dark:text-white"
                >
                  4
                </div>
              </div>

              <!--[if BLOCK]> <![endif]-->
              <!--[if ENDBLOCK]> <![endif]-->
            </div>

            <div
              class="fi-wi-stats-overview-stat relative rounded-xl bg-white p-6 shadow-sm border dark:bg-gray-900 dark:ring-white/10"
            >
              <div class="grid gap-y-2">
                <div class="flex items-center gap-x-2">
                  <span
                    class="text-sm font-medium text-gray-500 dark:text-gray-400"
                  >
                    Subscription Payments
                  </span>
                </div>

                <div
                  class="text-3xl font-semibold tracking-tight text-gray-950 dark:text-white"
                >
                  10
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </section>
  </body>
</html>
