<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymleaf.org"
  th:replace="toPanel/common/fragments::Layout(~{::section})"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="mt-24">
      <main class="flex-1">
        <div class="container mx-auto py-8 px-4 ">

          <h2 class="text-3xl font-bold mb-4">ড্যাশবোর্ড</h2>
          <div
            class="fi-wi-stats-overview-stats-ctn grid gap-6 md:grid-cols-3"
          >

            <div
                    class="fi-wi-stats-overview-stat relative rounded-xl bg-white p-6 shadow-sm border dark:bg-gray-900 dark:ring-white/10"
            >
              <div class="grid gap-y-2">
                <div class="flex items-center gap-x-2">
                  <span
                          class="text-sm font-medium text-gray-500 dark:text-gray-400"
                  >
                   মেম্বার
                  </span>
                </div>
                <div class="text-3xl font-semibold tracking-tight text-gray-950 dark:text-white"
                ><span th:text="${totaluser}"></span></div>
              </div>
            </div>

            <div
              class="fi-wi-stats-overview-stat relative rounded-xl bg-white p-6 shadow-sm border dark:bg-gray-900 dark:ring-white/10"
            >
              <div class="grid gap-y-2">
                <div class="flex items-center gap-x-2">
                  <span
                    class="text-sm font-medium text-gray-500 dark:text-gray-400"
                  >
                  গ্র্যান্ট আবেদন                </span>
                </div>

                <div
                  class="text-3xl font-semibold tracking-tight text-gray-950 dark:text-white"
                >
                  <span th:text="${totalGrants}"></span>
                </div>

                <!--[if BLOCK]> <![endif]-->
                <!--[if ENDBLOCK]> <![endif]-->
              </div>
            </div>

            <div
              class="fi-wi-stats-overview-stat relative rounded-xl bg-white p-6 shadow-sm border dark:bg-gray-900 dark:ring-white/10"
            >
              <div class="grid gap-y-2">
                <div class="flex items-center gap-x-2">
                  <span
                    class="text-sm font-medium text-gray-500 dark:text-gray-400"
                  >
                    গ্র্যান্ট গৃহীত
                  </span>
                </div>

                <div
                  class="text-3xl font-semibold tracking-tight text-gray-950 dark:text-white"
                >
                  <span th:text="${acceptedGrants}"></span>
                </div>
              </div>
            </div>

            <div
              class="fi-wi-stats-overview-stat relative rounded-xl bg-white p-6 shadow-sm border dark:bg-gray-900 dark:ring-white/10"
            >
              <div class="grid gap-y-2">
                <div class="flex items-center gap-x-2">
                  <span
                    class="text-sm font-medium text-gray-500 dark:text-gray-400"
                  >
                    গ্র্যান্ট বাতিল
                  </span>
                </div>

                <div
                  class="text-3xl font-semibold tracking-tight text-gray-950 dark:text-white"
                >
                  <span th:text="${rejectedGrants}"></span>
                </div>
              </div>

              <!--[if BLOCK]> <![endif]-->
              <!--[if ENDBLOCK]> <![endif]-->
            </div>

            <div
              class="fi-wi-stats-overview-stat relative rounded-xl bg-white p-6 shadow-sm border dark:bg-gray-900 dark:ring-white/10"
            >
              <div class="grid gap-y-2">
                <div class="flex items-center gap-x-2">
                  <span
                    class="text-sm font-medium text-gray-500 dark:text-gray-400"
                  >
                   সাবস্ক্রিপশন পেমেন্ট
                  </span>
                </div>

                <div
                  class="text-3xl font-semibold tracking-tight text-gray-950 dark:text-white"
                >
                  <span th:text="${totalsub}"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </section>
  </body>
</html>
