<!DOCTYPE html>
<html  xmlns:th="http://www.thymleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer th:fragment="footer" class="block">
        <div class="flex justify-between w-full">
            <div class="footer_content links w-full flex-wrap justify-center items-center">
                <h4 class="heading">গুরুত্বপূর্ণ লিঙ্ক</h4>
                <div class="site_link text-white">
                    <ul>
                        <li><a target="_blank" noopener norefferer href="https://bangabhaban.gov.bd">রাষ্ট্রপতির কার্যালয়</a></li>
                        <li><a target="_blank" noopener norefferer href="https://pmo.gov.bd/">প্রধানমন্ত্রীর কার্যালয়</a></li>
                        <li><a target="_blank" noopener norefferer href="http://www.parliament.gov.bd/">জাতীয় সংসদ</a></li>
                        <li><a target="_blank" noopener norefferer href="https://mopa.gov.bd/">জনপ্রশাসন মন্ত্রণালয়</a></li>
                        <li><a target="_blank" noopener norefferer href="https://bangladesh.gov.bd">জাতীয় তথ্য বাতায়ন</a></li>
                        <li><a target="_blank" noopener norefferer href="https://www.courseminded.com/tools">আরটিআই অনলাইন প্রশিক্ষণ</a></li>
                        <li><a target="_blank" noopener norefferer href="http://services.portal.gov.bd/">সেবাকুঞ্জ</a></li>
                        <li><a target="_blank" noopener norefferer href="http://forms.mygov.bd/">ফরমস পোর্টাল</a></li>
                    </ul>
                </div>
            </div>
    
            <div class="footer_content hotline w-full">
                <h4 class="heading">হেল্পলাইন</h4>
                <div class="helpline text-white">
                    <ul>
                        <li><span>দুদক</span><a href="tel:106">১০৬</a></li>
                        <li><span>জরুরি সেবা</span><a href="tel:999">৯৯৯</a></li>
                        <li><span>নাগরিক সেবা</span><a href="tel:333">৩৩৩</a></li>
                        <li><span>শিশু সহায়তা</span><a href="tel:1098">১০৯৮</a></li>
                        <li><span>নারী ও শিশু নির্যাতন প্রতিরোধ</span><a href="tel:109">১০৯</a></li>
                    </ul>
                </div>
            </div>
        </div>
    
        <div class="copyright_area w-full">
            <span>২০২৩ &copy; অটোমেট ইনফোসিস</span>
        </div>
    </footer>
</body>
</html>