<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/fragments :: html_head}">
    <title>default title</title>
</head>
<body class="d-flex flex-column min-vh-100">

<nav th:replace="~{common/fragments :: navbar}">
</nav>

<main class="container mt-4 flex-grow">
    <h2 th:text="${successMessage}"></h2>
    <h2 class="text-center my-4">District List</h2>
    <a class="btn btn-success m-2" href="/create-district">Create District</a>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Bangla Name</th>
                <th>English Name</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="district:${districts}">
                <td th:text="${district.id}"></td>
                <td th:text="${district.e_name}"></td>
                <td th:text="${district.b_name}"></td>
                <th>
                    <a class="btn btn-warning" th:href="'delete-district?id='+${district.id}">Delete</a>
                    <a class="btn btn-success" th:href="'update-district?id='+${district.id}">Update</a>
                </th>
            </tr>
            </tbody>
        </table>

    </div>
</main>

<footer th:replace="~{common/fragments :: footer}">
    footer
</footer>
</body>
</html>
