<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymleaf.org"
  th:replace="adminPanel/common/fragments::Layout(~{::section})">
<head th:replace="~{common/fragments :: html_head}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${pageTopic}">Title</title>
</head>
<body>
 <section class="mt-24 overflow-hidden">
        <!-- Page Title -->
        <header class="fi-header   gap-4 pb-10  sm:flex-row sm:items-center sm:justify-between">
                <nav class="fi-breadcrumbs mb-2 hidden sm:block">
                <ol class="flex flex-wrap items-center gap-x-2">
                <li class="flex gap-x-2">
                        <a th:href="@{/subscriptionPayments}" class="text-sm font-medium text-gray-500 outline-none transition duration-75 hover:text-gray-700 focus-visible:text-gray-700 dark:text-gray-400 dark:hover:text-gray-200 dark:focus-visible:text-gray-200">সাবস্ক্রিপশন পেমেন্ট অনুরোধ</a>
                </li>
                <li class="flex gap-x-2">
                <svg class="h-5 w-5 text-gray-400 dark:text-gray-500 rtl:hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"></path>
                </svg>
                <a href="#" class="text-sm font-medium text-gray-500 outline-none transition duration-75 hover:text-gray-700 focus-visible:text-gray-700 dark:text-gray-400 dark:hover:text-gray-200 dark:focus-visible:text-gray-200" th:text="${pageStatus_tag}">নতুন</a>
                </li>
                </ol>
                </nav>
                <h1 class="fi-header-heading text-2xl font-bold tracking-tight text-gray-950 dark:text-white sm:text-3xl pt-5" th:text="${pageTopic}">Title</h1>
        </header>
        <form method="post" th:object="${subscriptionPayment}" class="bg-white">
        
                <div class="px-4 py-5  sm:p-6 shadow sm:rounded-tl-md sm:rounded-tr-md">

                        <div class="grid grid-cols-2 gap-6">

                                <!-- User -->
                                <fieldset>
                                        <div class="col-span-2 sm:col-span-1">
                                                <label class="block font-medium text-sm text-gray-700" th:for="*{userId}"> <strong><span>ব্যাবহারকারী</span><span class="text-red-600 ml-1 " >*</span></strong></label>

                                                <select class="rounded-lg w-full mt-1 border-gray-300 border py-2 px-1 focus:border-indigo-500 focus:ring-indigo-500"
                                                        th:field="*{userId}"   th:disabled="${pageStatus == 3}">
                                                        <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.name}">ব্যাবহারকারীর নাম</option>
                                                </select>

                                                <p class="mt-2 text-sm text-red-600" th:if="${#fields.hasErrors('*{userId}')}" th:errors="*{userId}" >Error</p>
                                        </div>
                                </fieldset>
                                <!-- Year -->
                                <fieldset>
                                        <div class="col-span-2 sm:col-span-1">
                                                <label class="block font-medium text-sm text-gray-700" th:for="*{year}"> <strong><span> বছর</span><span class="text-red-600 ml-1 " >*</span></strong></label>

                                                <select class="rounded-lg w-full mt-1 border-gray-300 border py-2 px-1 focus:border-indigo-500 focus:ring-indigo-500"
                                                        th:field="*{year}"   th:disabled="${pageStatus == 3}">
                                                        <option th:each="year : ${years}" th:value="${year}" th:text="${year}">বছর</option>
                                                </select>

                                                <p class="mt-2 text-sm text-red-600" th:if="${#fields.hasErrors('*{year}')}" th:errors="*{year}" >Error</p>
                                        </div>
                                </fieldset>

                                <!-- Amount -->
                                <fieldset>
                                        <div class="col-span-2 sm:col-span-1">

                                                <label class="block font-medium text-sm text-gray-700" th:for="*{amount}"><strong><span>পরিমাণ</span><span class="text-red-600 ml-1">*</span></strong ></label>

                                                <input
                                                        type="text"
                                                        class="border-gray-300 border py-2 px-1 focus:border-indigo-500 focus:ring-indigo-500 rounded-md shadow-sm mt-1 block w-full"
                                                        th:field="*{amount}"
                                                        th:disabled="${pageStatus == 3}"
                                                />

                                                <p class="mt-2 text-sm text-red-600" th:if="${#fields.hasErrors('*{amount}')}" th:errors="*{amount}" >Error</p>

                                        </div>
                                </fieldset>

                                <!-- Date -->
                                <fieldset>
                                        <div class="col-span-2 sm:col-span-1">

                                                <label class="block font-medium text-sm text-gray-700" th:for="*{paymentDate}"> <strong> <span>পেমেন্ট তারিখ</span><span class="text-red-600 ml-1">*</span></strong> </label>

                                                <input
                                                        type="date"
                                                        class="border-gray-300 border py-2 px-1 focus:border-indigo-500 focus:ring-indigo-500 rounded-md shadow-sm mt-1 block w-full"
                                                        th:field="*{paymentDate}"
                                                        th:disabled="${pageStatus == 3}"
                                                />

                                                <p class="mt-2 text-sm text-red-600" th:if="${#fields.hasErrors('*{paymentDate}')}" th:errors="*{paymentDate}" >Error</p>

                                        </div>
                                </fieldset>

                        </div>

                        <!-- Details -->
                        <fieldset>
                                <div class="col-span-1 sm:col-span-1">

                                        <label class="block font-medium text-sm text-gray-700" th:for="*{details}"><strong><span>বিস্তারিত</span></strong></label>

                                        <textarea class="border-gray-300 border py-2 px-1 focus:border-indigo-500 focus:ring-indigo-500 rounded-md shadow-sm mt-1 block w-full"
                                                  th:field="*{details}"
                                                  th:disabled="${pageStatus == 3}">
                            </textarea>

                                        <p class="mt-2 text-sm text-red-600" th:if="${#fields.hasErrors('*{details}')}" th:errors="*{details}" >Error</p>

                                </div>
                        </fieldset>


                        </div>
                </div>

                <div class="flex items-center gap-2 justify-start px-4 py-3  text-end mb-5">
                        <button 
                                type="submit" 
                                class="inline-flex items-center px-4 py-2 bg-yellow-600 border border-transparent rounded-md font-semibold text-sm text-white  tracking-widest hover:bg-yellow-700 focus:bg-gray-700 active:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 transition ease-in-out duration-150 " 
                                th:text="${pageStatus == 2 ? 'Update' : 'Create'}" 
                                th:if="${pageStatus != 3}"
                                > 
                                সাবমিট 
                        </button>
                        <a th:href="@{/subscriptionPayments}" class="inline-flex items-center px-4 py-2 bg-white border rounded-md font-semibold text-sm text-gray-800 tracking-widest hover:bg-gray-200 focus:bg-gray-700 active:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 transition ease-in-out duration-150">
                        বাতিল
                        </a>
                </div>
        </form>
   </section>
</body>
</html>